.df {
    display: flex;
}

.df-col {
    display: flex;
    flex-flow: column nowrap;
}

.ai {
    align-items: center;
}

.jc {
    justify-content: center;
}

.fw {
    flex-wrap: wrap;
}

.fs0 {
    flex-shrink: 0;
}
.fx1 {
    box-sizing: border-box;
    flex: 1;
}

.fx2 {
    box-sizing: border-box;
    flex: 2;
}

